include header
  h1= title
  if(newNote)
    h2= newNote
  #notes
      if(todos)
        - each todo in todos
          div.todo
            div.user= todo.username
            div.body!= todo.content
            div.created_at= todo.created_at
            div.tags= todo.tags
      else
        h2 Whoops, something went wrong